<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tusttreatment.mapper.BaseDoctorMapper">
    <select id="ListDoctor" resultType="com.example.tusttreatment.pojo.entity.Doctor">
        SELECT * FROM doctors
        where is_valid = 1
    </select>

    <update id="removeDoctorById" parameterType="java.lang.Object">
        UPDATE doctors
        SET
            is_valid = 0
        WHERE doctor_id = #{doctorId}
    </update>
</mapper>
