<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.subscribe.mapper.RegisterMapper">
    <select id="ListRegister" resultType="com.example.subscribe.pojo.Vo.RegisterVo">
        SELECT

            p.name AS patientName,
            d.name AS doctorName,
            am.appointment_date AS appointmentDate,
            am.status AS status,
            am.created_at AS createdAt,
            am.updated_at AS updatedAt
        FROM
            appointments am
                LEFT JOIN patients p ON am.patient_id = p.patient_id
                LEFT JOIN doctors d  ON am.doctor_id =d.doctor_id
        WHERE
            am.is_valid = 1 AND p.is_valid=1 AND d.is_valid=1
        <if test="patientName != null and patientName != ''">
            AND p.name LIKE CONCAT('%', #{patientName}, '%')
        </if>
        <if test="doctorName != null and doctorName != ''">
            AND d.name LIKE CONCAT('%', #{doctorName}, '%')
        </if>
    </select>

    <insert id="addRegister" parameterType="com.example.subscribe.pojo.Qo.RegisterQo">
        INSERT INTO appointments (`patient_id`, `doctor_id`, `appointment_date`, `status`)
        VALUES (#{patientId}, #{doctorId}, #{appointmentDate}, #{status});
    </insert>

    <update id="updateRegister" parameterType="com.example.subscribe.pojo.Qo.RegisterQo">
        UPDATE appointments
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null and patientId != ''" >
                patient_id = #{patientId},
            </if>
            <if test="doctorId != null and doctorId != ''">
                doctor_id = #{doctorId},
            </if>
            <if test="appointmentDate != null and appointmentDate != ''">
                appointment_date = #{appointmentDate},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
        </trim>
        WHERE appointment_id = #{id}
    </update>

    <update id="deleteRegister" parameterType="com.example.subscribe.pojo.Qo.RegisterQo">
        UPDATE appointments
        SET
            is_valid = 0
        WHERE appointment_id = #{id}
    </update>

    <select id="getMedical" resultType="com.example.subscribe.pojo.Vo.MedicalVo">
        SELECT
            p.name as patientName,
            mr.visit_date as visitDate,
            mr.chief_complaint as chiefComplaint,
            mr.medical_history as medicalHistory,
            mr.physical_exam as physicalExam,
            mr.diagnosis as diagnosis,
            mr.treatment_plan as treatmentPlan,
            mr.created_at as createdAt,
            mr.updated_at as updatedAt
        FROM medical_records mr
                 LEFT JOIN patients p ON p.patient_id =mr.patient_id
        WHERE mr.is_valid=1
        <if test="patientName != null and patientName != ''">
            AND p.name LIKE CONCAT('%', #{patientName}, '%')
        </if>
    </select>

</mapper>
